.acciones {
  height: 200px;
}

.acciones>form>input {
  display: none;
}

#overlayhold {
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;

  height: 100%;
  background: rgba(0,0,0,0.5);
  -webkit-transition: height 0.5s, background 0.5s;
  transition: height 0.5s, background 0.5s;
}

#overlayhold.off {
  height: 0%;
  background: rgba(0,0,0,0.0);
}

svg {
  height: 100%;
}

.svgboton:hover {
  fill: blue;
}

.svgboton:active {
  fill: red;
}

.procesando>svg {
  fill: magenta;
  animation: procesando 0.2s infinite ease-in-out alternate;
}
.error>svg {
  fill: red;
  animation: error 0.05s infinite linear alternate;
}

@keyframes procesando {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}
@keyframes error {
  from {
    transform: translateX(3%);
  }
  to {
    transform: rotate(-3%);
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}