#acciones {
  float: left;
  position: fixed;
  background: whitesmoke;
  top: 0px;
  left: 0px;
  width: 100%;
}

#acciones>form>input {
  display: none;
}

.accionesheight {
  height: 200px;
}

html{
  height: 100%;
}
body {
  max-height: 100%;
}

.noclickeable {
  pointer-events: none;
  fill: rgba(0,0,0,0.5);
}

#overlayhold {
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;

  height: 100%;
  background: rgba(0,0,0,0.5);
  -webkit-transition: height 0.5s, background 0.5s;
  transition: height 0.5s, background 0.5s;
}

#overlayhold.off {
  height: 0%;
  background: rgba(0,0,0,0.0);
}

svg {
  height: 100%;
}

.svgboton:hover {
  fill: blue;
}

.svgboton:active {
  fill: red;
}

#galeria > img {
  max-width: 200px;
  max-height: 200px;
}

.procesando>svg {
  fill: magenta;
  animation: procesando 0.2s infinite ease-in-out alternate;
}
.error>svg {
  fill: red;
  animation: error 0.05s infinite linear alternate;
}

@keyframes procesando {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(30deg);
  }
}
@keyframes error {
  from {
    transform: translateX(3%);
  }
  to {
    transform: rotate(-3%);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}